<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.md2k.moodsurfing" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight">
        <activity
            android:name=".ActivityMoodSurfing"
            android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".ActivityMoodSurfingExercises"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".ActivityMoodSurfingExerciseBegin"
            android:parentActivityName=".ActivityMoodSurfingExercises"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".ActivityMoodSurfingExercise"
            android:label="@string/title_screen_slide"
            android:parentActivityName=".ActivityMoodSurfingExercises"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMoodSurfingExercises" />
        </activity>

    </application>

</manifest>
